<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Como en Casa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD9F22B81D4C9107001DD2E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9F22CF1D4C9107001DD2E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9F22DA1D4C9107001DD2E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
